.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.vscode
# Environment / secrets
.env
.env.local
.env.*.local
*.p8
.swiftpm
*.resolved
.env.testing
Package.resolved
